.cart-link {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4500;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.cart-details {
  visibility: hidden;
  position: absolute;
  top: 60px;
  right: -40px;
  min-width: 320px;
  min-height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.cart-link:hover .cart-details {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.cart-summary {
  font-size: 14px;
  line-height: 20px;
}

.cart-summary span {
  display: block;
}

.cart-summary h2 {
  color: black;
  font-family: Ubuntu, Arial;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 35px;
  padding: 5%;
  font-size: 155%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal-label {
  font-family: Ubuntu, Arial;
  font-weight: bold;
  color: black;
  font-size:125%;
  margin-left: 15px;
}

.subtotal-label p {
  margin-left: 40px;
  display: inline-flex;
}

.delivery-label {
  font-family: Ubuntu, Arial;
  font-weight: bold;
  margin-bottom: 45px;
  color: black;
  font-size: 125%;
  margin-left: 15px;
}

.cart-delivery {
  margin-top: 20px;
}

.cart-delivery p {
  font-weight: bold;
  margin-right: 10px;
  color: black;
  font-family: Ubuntu, Arial;
  font-size: 110%;
}

.delivery-type {
  font-weight: bold;
  margin-right: 10px;
  color: black;
  font-size: 115%;
  margin-left: 10px;
  font-family: Ubuntu, Arial;
}

.delivery-options {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: Ubuntu, Arial;
}

.checkout-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 115%;
  margin-bottom: 5px;
}

.checkout-btn:hover {
  background-color: darkgreen;
}

.info-icon {
  display: inline-flex;
  position: relative;
  margin-left: 150px;
  margin-top: -20px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  margin-left: -12px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}

.info-icon:hover .tooltip {
  visibility: visible;
}

.payment-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

