.cart-details {
  display: none;
  position: absolute;
  right: 5vw;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.cart-icon:hover + .cart-details {
  display: block;
}

.cart-details:hover {
  display: block;
}

.cart-summary {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.subtotal-label,
.delivery-label {
  padding-top: 1vw;
  flex-basis: 50%;
  text-align: left;
}

.subtotal-label {
  border-top: 1pt solid black;
  padding-top: 1.5vw;
}

.subtotal-amount {
  border-top: 1pt solid black;

  padding-top: 1.5vw;
  flex-basis: 50%;
  text-align: right;
}

.delivery-icon {
  padding-top: 1vw;
  padding-bottom: 1.5vw;

  position: relative;
  text-align: right;
}

.delivery-icon .tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
}

.delivery-icon:hover .tooltip {
  display: block;
}



.cart-delivery {
  text-align: center;
  margin-bottom: 20px;
}

.delivery-type {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.delivery-options {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.delivery-options option {
  background-color: white;
  color: black;
}


.checkout-btn {
  margin-top: 1vw;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-btn:hover {
  background-color: #3E8E41;
}
.payment-options {
  text-align: center;
  margin-top: 10px;
}
.payment-options img {
  display: inline-block;
  margin: 0 10px;
}
