main {
    margin-top: 5vw;
}

#divider {
    /* Applies a solid border at the bottom and adds padding to the element with the ID "divider" */
    width: 60%;
    height: 0.1vw;
    background-color: #676363;
    opacity: 61%;

}

#vertical-divider {
    width: 0.01vw;
    height: auto;
    background-color: #676363;
    /* border: 0 0.1vw 0 0; */
    margin-left: 0.3vw;
}

#cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item img {
    /* Styles all images inside elements with the class "cart-item" */
    width: 20vw;
    height: 20vw;
    background-color: red;
}
/* 
.cart-item img:hover {
    transform: scale(1.01);
} */

.cart-item h2 {
    margin-top: -1vw;
    font-family: 'Open Sans', sans-serif;
    color: #424040;
    font-size: 2.5vw;
}

.cart-item h4 {
    margin-top: -1vw;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}

.cart-item select {
    /* Styles all select elements */
    width: 50px;
    border-radius: 0.5em;
    font-size: medium;
    border: solid grey 1px;
    margin-left: 0.5vw;
}

.cart-item {
    /* Styles all elements with the class "cart-item" */
    width: 60%;
    display: grid;
    grid-template-columns: 2vw auto;
    column-gap: 20em;
    /* background-color: #e4d7e2; */
    /* border-top: solid #3f3d3d 0.1vw;
    border-bottom: solid #3f3d3d 0.1vw; */
    padding: 3em;
}

.cart-item:hover {
    /* color: white;
    background-color: #4898D3;
    background-color: rgb(155, 207, 255);  */
    transform: scale(1.04);
}

#item-details .exit {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 90%;
}

#item-details .exit:hover {
    transform: scale(1.1);
}

#selectors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-top: 3vw;
    margin-left: -0.5vw;
}

#quantity {
    border: none;
    width: 4.5vw;
    color: #676363;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
}

#size {
    border: none;
    width: 2.2vw;
    color: #676363;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
}

#color {
    border: none;
    width: 4vw;
    color: #676363;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
}

#cart-review {
    /* Styles the element with the ID "cart-review" */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cart-review-section h1 {
    /* Styles all h1 elements inside the element with the ID "cart-review-section" */
    width: 100%;
    text-align: center;
   
}

#cart-review-section h5 {
    /* Styles all h5 elements inside the element with the ID "cart-review-section" */
    width: 100%;
    text-align: center;
   
}

#cart #button-container {
    overflow: auto;
    width: 100%;
}

#cart-button {
    width: 80%;
    display: flex; 
    flex-direction:row; 
    justify-content: flex-end;
    margin-bottom: 2vw;
}

#button-container #cart-button button {
    width: 25vw;
    background-color: #29D53A;
    font-family: 'Ubuntu', 'Ariel', sans-serif;
    font-size: 1.4vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
}

#button-container #buttons button:hover {
    background-color: #5bd667;
    transform: scale(1.02);
}

#total-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#total-container p {
    font-size: 3vw;
    font-family: 'Ubuntu', 'Ariel', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3vw;
    color: #0581F4;

}

