#card-details input {
    width: 10vw;
    height: 2vh;
}

#card-details #details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#card-details #details-container label {
    margin-left: 0.7vw;
}


#card-details {
    width:100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
}

#payment-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1vw;
}

#payment-options img {
    width: 4vw;
    height: 3vw;
}

#payment-options #cash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#payment-options #cash #move-up {
    position: relative;
    margin-top: -0.6vw;
}

#payment-options #cash p {
    position: relative;
    margin-top: 0vw;
}

#payment-options *:hover {
    transform: scale(1.04);
}

.payment {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

#cash-on-arrival {
    display: none;
}

#payment-option {
    display: none;
  
}

.payment-confirm {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.payment-confirm h2 {
    text-align: center;
}