.review {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: none;
}
.review .cart-item {
    margin-left: -7vw;
}

.review #divider {
    width: 90%;
    height: 0.1vw;
    margin-bottom: 0.4vw;
}
.review .cart-item #item-details #vertical-divider {
    margin-left: 0;
}

#review #selectors {
    transform: scale(0.8);
}

.review .cart-item img {
    width: 10vw;
    height: 10vw;
}

.review .cart-item #item-details .exit {
    width: 1vw;
    height: 1vw;
}

.review .cart-item #item-details {
    margin-top: 1vw;
    margin-left: -10vw;

}

.review .cart-item #item-details #selectors {
    margin-top: -0.1vw;

}

.review .cart-item #item-details h2 {
    font-size: 1vw;
}

.review .cart-item #item-details h4 {
    font-size: 0.8vw;
    margin-top: 0.5vw;
}

.review .cart-item .color {
    border: none;
    width: 4vw;
    color: #676363;
    font-family: 'Open Sans', sans-serif;
  
    width: 3.2vw;
    font-size: 0.9vw;
}

.review .cart-item .size {
    border: none;
    width: 2.2vw;
    color: #676363;
    font-family: 'Open Sans', sans-serif;
    width: 2vw;
    font-size: 0.9vw;
    margin-left: -0.7vw;
}
.review .cart-item .quantity {
    margin-top: -0.5vw;
}

.review .cart-item .quantity select {
    width: 2.2vw;
    font-size: 0.9vw;
    margin-left: -1.7vw;
    margin-top: 0.4vw;
}
.review .cart-item .quantity label {
    width: 3.4vw;
    font-size: 0.9vw;
    margin-left: -0.4vw;
    margin-top: 0.4vw;
}

#shipping {
    /* display: grid;
    grid-template-columns: 35% 32% 33%;
    column-gap: 3vw; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 4vw;
}

#payment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 4vw;
    margin-left: -0.5vw;
}

#shipping-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1vw;
}

#shipping-details h3, #payment-details h3 {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 1vw;
}

#shipping-details p, #payment-details p {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.8vw;
    justify-self: center;
    align-self: center;
}

#delivers-to, #pay-in-full-with {
    display: flex;
    flex-direction: column;
}

#delivers-to h3, #pay-in-full-with h3 {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.8vw;
    margin-top: 1.1vw;
    margin-bottom: 2vw;
}

#delivers-to p {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.7vw;
    margin-top: -0.4vw;
    
}
#pay-in-full-with p {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.7vw;
}

#pay-in-full-with #payment-method {
    display: flex;
    flex-direction: row;
    margin-top: -0.4vw;
    column-gap: 0.5vw;
}

#pay-in-full-with img {
    width: 1.7vw;
    height: auto;
}

#contact-information {
    display: flex;
    flex-direction: column;
    margin-left: -0.8vw;
}

#billing-address {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1vw;
}

#contact-information h3, #billing-address h3 {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.8vw;
    margin-top: 1.1vw;
    margin-bottom: 2vw;
}

#contact-information p, #billing-address p {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.7vw;
    margin-top: -0.4vw;
}

#summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1.3vw;
}

#summary h2 {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 1vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
}

#summary-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 55%;
}

#cost-details {
    margin-left: 5vw;

}

#summary-details p {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.8vw;
    margin-top: -0.4vw;
}

#summary #prices h3 {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    font-size: 0.8vw;
}

.review #review-cart-title {
    font-family: 'Ubuntu', 'Ariel';
    font-weight: 700;
    font-size: 2vw;
    color: #0581F4;
    letter-spacing: 0.2vw;
}

.review #link {
    color: #0581F4;
    
}

.review #link:hover {
    color: #2e95f5;
    cursor: pointer;
}
