#back-to-cart {
    background-color: #C54040;
    margin-right: 1vw;
}

#prev-btn {
    background-color: #C54040;
    margin-right: 1vw;
    display: none;
}

#next-btn {
    background-color: #29D53A;
    margin-left: 1vw;
}

#prev-btn:hover {
    background-color: #d16464;
    transform: scale(1.02);
}

#next-btn:hover {
    background-color: #5bd667;
    transform: scale(1.02);
}

#back-to-cart:hover {
    background-color: #d16464;
    transform: scale(1.02);
}


#button-container {
    overflow: auto;
    width: 100%;
}

#buttons {
    display: flex; 
    flex-direction:row; 
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

h3 {
    font-family: 'Ubuntu', 'Ariel';
    font-size: 1vw;
    font-weight: 700;
    letter-spacing: 0.02vw;
}

label {
    font-family: 'Roboto', 'Ariel Narrow';
    font-size: 0.9vw;
}

label span {
    color: red;
    margin-left: -1%;
    font-size: 0.9vw;

}

.progress-state {
    color: grey;
}

#progress-status span img {
    width: 2vw;
    height: auto;
}