/* form styles */
.form-input,
form .form-input {
  height: 5%;
  margin-top: 0.5vw;
  padding: 0.8vw;
  width: 24vw;
  font-size: 1vw;
  font-family: Raleway;
  border: 0.1vw solid #aaaaaa;
  border-radius: 0.5vw;
}

.form-label,
form .form-label {
  margin-top: 2vw;
}

.form-button {
  width: 9vw;
  background-color: #29D53A;
  border: none;
  margin-top: 0.5vw;
  color: #fff;
  padding: 1vw 2vw;
  border-radius: 0.5vw;
  text-decoration: none;
}
