#hero {
    position: relative;
    height: 45vw;
    width: 100%;
    background-image: url('../Resources/Images/header-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #page-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 7vw;
    align-self: center;
    position: relative; /* Add this to make the text appear above the pseudo-element */
    z-index: 1; /* Set a higher z-index value to make the text appear above the pseudo-element */
  }
  
  #page-location {
    top: -5vw;
    font-size: 1.4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0em;
    position: relative; /* Add this to make the text appear above the pseudo-element */
    z-index: 1; /* Set a higher z-index value to make the text appear above the pseudo-element */
  }
  
  #page-location img {
    width: 1.4vw;
    height: auto;
  }