.header-image {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5a0;
  opacity: 0.2;
}

.header-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.header-image img.active {
  opacity: 1;
  z-index: 0;
}

.slideshow-buttons {
  position: absolute;
  top: 45vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slideshow-buttons button.next {
  transform: rotateY(180deg);
}

.slideshow-buttons img{
  height: 12vh;
  margin: 0 1.7vw;
}

.slideshow-buttons button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#who-we-are {
    position: relative;
    text-align: center;
  }
  
  #who-we-are h2::after {
    content: '';
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    width: 15vw;
    margin: 0 auto;
    border-bottom: 0.4vw solid #1C79CE;
  }
  
  #who-we-are h2 {
    margin-top: 4vw;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #0581F4;
    font-size: 3vw;
    line-height: 1.5;
    position: relative;
    letter-spacing: 0.1em;
    padding-bottom: 1.7vh;
  }
  
  #who-we-are p {
    margin: 2.3vw 6vw;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    font-size: 1.3vw;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }

  #who-we-are button {
    background-color: #29D53A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.3vw;
    letter-spacing: 0.1em;
    border: none;
    padding: 1.1vw 3.1vw 1.1vw 3.1vw;
    border-radius: 1.2vw;
    margin-top: 2.5vw;
  }

  #browse-our-collection {
    position: relative;
    text-align: center;
  }

  #browse-our-collection h2 {
    margin-top: 5vw;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bolder;
    color: #0581F4;
    font-size: 3vw;
    line-height: 1.5;
    position: relative;
    letter-spacing: 0.1em;
  }

  #browse-our-collection h3 {
    font-family: 'Abhaya Libre', serif;
    font-weight: normal;
    color: #1C79CE;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-top: 0;
    font-size: 2vw;
    position: relative;
  }
  
  .men-and-women {
    margin-top: 3vw;
  }

  .container01 {
    position: relative;
    width: 78vw;
    height: 37.3vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .container01 img {
    width: 37.3vw;
    height: 37.3vw;
    object-fit: cover;
  }

  .item-container01 {
    position: relative;
  }
  
  .shop-now {
    position: absolute;
    bottom: 3vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    font-weight:normal;
    letter-spacing: 0.1em;
    padding: 1.4vw 3vw;
    border: 0.4vw solid white;
    border-radius: 10vw;
    margin-top: 10px;
  }

  #new-arrivals,
  #sales {
    position: relative;
    text-align: center;
  }

  .slides01,
  .slides02 {
    position: relative;
    width: 78vw;
    height: 37.3vw;
    margin: 0 auto;
    margin-top: 11vw;
    display: flex;
    overflow: hidden;
  }
  
  .slides01 img,
  .slides02 img {
    width: 37.3vw;
    height: 37.3vw;
    margin-right: 3.4vw;
    object-fit: cover;
  }

  .item-container02,
  .item-container03 {
    position: relative;
  }

  .double-container01,
  .double-container02 {
    position: absolute;
    width: 78vw;
    height: 37.3vw;
    left: 50%;
    display: flex;
    top: 0;
    transform: translateX(-50%);
  }

  .double-container01 h4 {
  position: absolute;
  z-index: 3;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.8vw;
  color: #0581F4;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: -6.8vw;
  margin-left: -0.34vw;
}

.double-container02 h4 {
  position: absolute;
  z-index: 3;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.8vw;
  color: #0581F4;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: -6.8vw;
  right: -0.6vw;
  text-align: right; /* added property */
}

.double-container01 h4::after{
  content: '';
  position: absolute;
  top: 4.6vw;
  width: 19vw;
  left: 0.2vw;
  border-bottom: 0.4vw solid #1C79CE;
}

.double-container02 h4::after {
  content: '';
  position: absolute;
  top: 4.6vw;
  width: 21vw;
  right: 0.5vw;
  border-bottom: 0.4vw solid #1C79CE;
}

#our-services {
  position: relative;
  text-align: center;
}

#our-services h2 {
  margin-top: 5vw;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bolder;
  color: #0581F4;
  font-size: 3vw;
  line-height: 1.5;
  position: relative;
  letter-spacing: 0.1em;
}

#our-services h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: normal;
  color: #1C79CE;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: 0;
  font-size: 2vw;
  position: relative;
}

#our-services {
  position: relative;
  text-align: center;
}

.services {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  margin-top: 4vw;
  display: flex;
  overflow: hidden;
}

.services {
  justify-content: space-between;
  align-items: center;
}

.service {
  text-align: center;
}

.service img {
  width: 18vw;
  height: 18vw;
  object-fit: cover;
  border-radius: 50%;
}

.service p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 1.5vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: 1vw;
    
}

#our-services button {
  background-color: #29D53A;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  border: none;
  padding: 1.1vw 3.1vw 1.1vw 3.1vw;
  border-radius: 1.2vw;
  margin-top: 2.1vw;
}

#some-more-about-us {
  position: relative;
  text-align: center;
}

#some-more-about-us h2 {
  margin-top: 5vw;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bolder;
  color: #0581F4;
  font-size: 3vw;
  line-height: 1.5;
  position: relative;
  letter-spacing: 0.1em;
}

#some-more-about-us h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: normal;
  color: #1C79CE;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: 0;
  font-size: 2vw;
  position: relative;
  margin-bottom: 0;
}

#some-more-about-us p {
  margin: 2vw 6vw;
  color: #000000;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
  font-size: 1.3vw;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

#some-more-about-us button {
  background-color: #29D53A;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  border: none;
  padding: 1.1vw 3.1vw 1.1vw 3.1vw;
  border-radius: 1.2vw;
  margin-top: 3vw;
}

#for-more-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  margin-bottom: 1rem;
}

#for-more-information h2 {
  margin-top: 5vw;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bolder;
  color: #0581F4;
  font-size: 3vw;
  line-height: 1.5;
  position: relative;
  letter-spacing: 0.1em;
}

#for-more-information h2::after {
  content: '';
  position: absolute;
  top: 5vw;
  left: 0;
  right: 0;
  width: 35vw;
  margin: 0 auto;
  border-bottom: 0.4vw solid #1C79CE;
}

.content h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: normal;
  color: #1C79CE;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-top: 2.4vw;
  font-size: 2vw;
  position: relative;
  margin-bottom: -2vw;
}

#for-more-information img {
  width: 30vw;
  height: auto;
  margin-bottom: -1vw;
}

#for-more-information button {
  background-color: #29D53A;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  border: none;
  padding: 1.1vw 3.1vw 1.1vw 3.1vw;
  border-radius: 1.2vw;
  margin-top: 2.5vw;
}




/*
.slider-buttons02,
.slider-buttons03 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.prev02,
.prev03 {
  margin-left: 50px;
}

.next02,
.next03 {
  margin-right: 50px;
  transform: scaleX(-1);
}

.slide-item-container02,
.slide-item-container03 {
  position: relative;
  display: inline-block;
}

.order-now02,
.order-now03 {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;