.modal {
    display: none;
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
  
  .modal-content {
    width: 40%;
    height: 45vw;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    font-family: 'Ubuntu', 'Arial', sans-serif;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-content h2 {
    margin-top: -2vw;
    align-self: center;
    font-size: 2vw;
    font-family: 'Open Sans', 'Ariel', sans-serif;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-container h3 {
    margin-top: 3vw;
    align-self: center;
    font-family: 'Roboto', 'Ariel', sans-serif;
    font-size: 1vw;
    font-weight: 400;
  }

  .modal-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form label {
    font-size: 1vw;
    align-self: flex-start;
  }

  .form input {
    height: 1.5vw;
  }

  .form button {
    margin-top: 2vw;
    border-radius: 1vw;
  }
  
  .close {
    align-self: flex-end;
    position: relative;
    top: -2vw;
  }

  .close img {
    margin-top: 0vw;
    margin-right: 1vw;
    width: 2vw;
    height: 2vw;
  }

  .close img:hover {
    transform: scale(1.04);
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .signup { 
    font-family: 'Ubuntu', 'Arial';
    text-align: center;
    align-self: center;
  }
  
  .signup a {
    color: blue;
  }

  .signup-confirmation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .signup-confirmation-message {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

.ok-button {
  background-color: rgb(41, 187, 70);
  display: block;
  margin: 20px auto 0;
  padding: 10px 9px;
  border-radius: 5px;
}

.ok-button:hover {
  background-color: darkgreen;
}

  .gmail img {
    height: 3vw;
  }
  
  .facebook img {
    height: 2vw;
    margin-left: 0.4vw;
  }
  
  #login-btn:hover {
    background-color: darkgreen;
  }
.options {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.gmail, .facebook {
  width: 25.5vw;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: solid black 0.1vw;
}

.gmail:hover, .facebook:hover {
  transform: scale(1.02);
}

.gmail span, .facebook span{
  margin-left: 6vw;
}

#signup-modal .modal-content h2 {
  margin-top: 0vw;
}

#signup-modal .modal-content .close {
  margin-top: -5vw;
}

#signup-modal .modal-content {
  height: 60vw;
}