/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-family: Ubuntu, Arial;
  }

  .modal-content h2 {
    margin-bottom: 35px;
    align-items: center;
    margin-left: 200px;
  }

  form label {
    display: block;
    margin-bottom: 10px; 
  }
  
  /* Close button */
  .close {
    color: #ec1818;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Signup link */
  .signup { 
    font-family: Ubuntu, Arial;
    text-align: center;
    margin-top: 20px;
  }
  
  .signup a {
    color: blue;
  }

  .signup-confirmation {
    display: none;
    position: relative;
  }

  .login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .login-options > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .login-options img {
    height: 50px;
  }

  .login-options span {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
  }

  #login-btn {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  
  #login-btn:hover {
    background-color: darkgreen;
  }


