.product-page {
    margin-top: 1.5vw;
    width: 100%;
    height:70vh;
    display: flex;
  }
  
  .product-image-mini {
    margin-left: 3.7vw;
    align-items: center;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
  }
  
  .product-image-mini img {
    width: 8vw;
    height: 8vw;
    object-fit: cover;

  }

  .product-image {
    margin-left: 2.5vw;
    display: flex;
    align-items: center;
    width: 32vw;
    height: 32vw;
  }

  .product-image {
    flex-direction: column;
  }
  
  .product-image p {
    margin-bottom: -5vw;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  
  .zoom-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: none;
    transition: 0.3s ease-out;
  }

  .zoom-image:hover {
    transform: scale(1.25);
  }
  
  .product-info {
    width: 45vw;
    padding-left: 3.5vw;
  }
  
  #product-title {
    margin-top: -1vw;
    margin-bottom: 0vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: #000000;
    line-height: 1.5;
    font-size: 2.7vw;
    letter-spacing: 0.07em;
  }

  #product-price {
    margin-top: -0.3vw;
    margin-bottom: 1vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: #000000;
    line-height: 1.5;
    font-size: 2.2vw;
    letter-spacing: 0.07em;
  }

  .product-rating {
    margin-top: -0.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.3vw;
  }

  
  #product-description {
    margin-top: 0.4vw;
    margin-bottom: 2vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  .product-dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .product-dropdowns select,
  label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
border: none;
    color: #676363;
    margin-right: 0.5vw;
  }

  #color {
    margin-left: -0.2vw;
  }

  .dropdown-separator {
    color: #676363;
    margin-right: 0.5vw;
    margin-top: -0.3vw;
  }

  .add-to-cart {
    background-color: #29D53A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
    border: none;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 2vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
  }

  .add-to-cart:hover {
    transform: scale(1.05);
  }

  button:hover {
    cursor: pointer;
  }


  .category-heading, .tags-heading {
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    font-size: 1.1vw;
    line-height: 2;
    letter-spacing: 0.05em;
    margin-right: 0.5vw;
  }
  
  .product-category-listing a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  .product-path {
    color: #65707a;
    margin-top: 9vw;
    margin-left: 3.7vw;
    font-weight: bold;
  }

  .product-path a{
    text-decoration: none;
    color: #65707a;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;

    font-family: 'Outfit', sans-serif;
    font-size: 1.2vw;
    line-height: 2;
    letter-spacing: 0.1em;
  }

  .product-path img {
    height: 1vw;
  }


  #popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #popup-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  #popup-container h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  #popup {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 3vw;
    text-align: center;
  }
  
  #popup-buttons button {
    background-color: #29D53A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
    border: none;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 1vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
  }
  
  #popup-buttons button:hover {
    background-color: #24b232;
  }
  
  /* Position the close button in the top right corner */
  #popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Style the close button */
  #popup .close img {
    width: 1.7vw;
    height: 1.7vw;
  }
  