.navigation-bar {
    background-color: #0581F4;
}

.menu a {
    color: white;
}

.dropbtn {
    color: white;
}

ul {
    display: inline;
    list-style: none;
}

li {
    float: left;
    margin: 20px;
}

.title-with-location {
    margin-top: 9vw;
    text-align: center;
    line-height: 8px;
    color: grey;
    height: 70px;
}

.page-location-text {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Open Sans, Arial; 
}

.request-form {
    margin: 5vh 30vw 5vh 30vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}

.form-head-text {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: Ubuntu, Arial;
}

.inner-request-form {
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
}

.form-element {
    margin-top: 2vw;
}

.request-form button {
    position: relative;
    top: 2vw;
    margin-bottom: 5vw;
}

/*select {
    height: 5%;
    margin-top: 0.5vw;
    padding: 0.8vw;
    width: 25.75vw;
    font-size: 1vw;
    font-family: 'Raleway';
    color: #676363;
    border: 0.1vw solid #aaaaaa;;
    border-radius: 0.5vw;
}*/

label {
    margin-top: 2vw;
}
input#request-details {
    height: 13vh;
}

#prev-btn {
    background-color: #C54040;
    margin-right: 1vw;
    display: inline-block;
}


#prev-btn:hover {
    background-color: #d16464;
}