

.services,
.customer-rewards {
    margin-top: 8vw;
    text-align: center;
    line-height: 1.4vw;
    
}

.services h2, .customer-rewards h2 {
    
    color: #0581F4;
    font-family: 'Ubuntu', Arial;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    font-weight: 800;
}

.services p, .customer-rewards p {
    color: #0581F4;
    font-family: 'Abhaya Libre', Arial;
    font-size: 1.7vw;
}


.services {
    margin-top: 8vw;
}

.service-grid,
.rewards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 65px;
    font-family: Open Sans, Arial;
}

.service-item p,
.rewards-item p {
    font-size: 1.2vw;
    color: black;
    line-height: 8vw;
    font-weight: 500;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.service-img,
.rewards-img {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 200px;
}

.btn {
    width: 13vw;
    margin-top: 0.5vw;
}