.navigation-bar {
    background-color: #0581F4;
}

.menu a {
    color: white;
}

.dropbtn {
    color: white;
}

ul {
    display: inline;
    list-style: none;
}

li {
    float: left;
    margin: 20px;
}

h2 {
    font-size: 30px;
    color: #45a1f6
}

.services,
.customer-rewards {
    margin-top: 9vw;
    text-align: center;
    line-height: 8px;
    color: rgb(43, 140, 172);
}

.services {
    margin-top: 5vw;
}

.service-grid,
.rewards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.service-item,
.rewards-item {
    color: black;
}

.service-img,
.rewards-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 150px;
}

.request-services-button,
.sign-up-button {
    height: 40px;
    width: 150px;
    background-color: rgb(40, 149, 40);
    color: white;
    border-style: none;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}