/*product styles*/
#products {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    grid-template-rows: auto;
    margin: 3vw 10vw 0 10vw; 
    justify-content: center;
    column-gap: 4vw; 
    row-gap: 3vw; 
    }

.product {
    position: relative;
	background-color: #fff;
	text-align: center;
	width: auto;
    height: 35vw;
}

.product img {
	height: 23vw;
	width: 23vw;
	object-fit: cover;
    cursor: pointer;
}

.product-rating {
    font-size: 2.3vw;
  }

.product-title {
    margin-top: 1vw;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.price {
    margin-top: 0.3vw;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-group {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  

/*page navigation styles*/
#pagination {
	text-align: center;
	margin-top: 5%;
}

#prev-page {
	display: none;
	background-color: #F572A1;
	color: white;
	border: none;
	border-radius: 5em 1em 1em 5em;
	padding: 10px 20px;
	margin: 20px auto;
	width: 100px;
	margin-top: 5%;
}

#next-page {
  display: inline-block;
  background-color: #F572A1;
  color: white;
  border: none;
  /* border-radius: 1em 5em 5em 1em; */
  border-radius: none;
  padding: 10px 20px;
  margin: 20px auto;
  width: 100px;
  margin-top: 5%;
}

#prev-page:hover, #next-page:hover {
	background-color: #ff8ab5;
	transform: scale(1.04);
}



