/*product styles*/
#products {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    grid-template-rows: auto;
    margin: 3vw 10vw 0 10vw; 
    justify-content: center;
    column-gap: 4vw; 
    row-gap: 3vw; 
    }

.product {
    position: relative;
	background-color: #fff;
	text-align: center;
	width: auto;
    height: 35vw;
}

.product img {
	height: 23vw;
	width: 23vw;
	object-fit: cover;
    cursor: pointer;
}

.product-rating {
    font-size: 2.3vw;
  }

.product-title {
    margin-top: 1vw;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.price {
    margin-top: 0.3vw;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw 0;
  }
  
  .filter {
    display: flex;
    align-items: center;
    margin: 0 2vw;
  }
  
  label {
    margin-right: 1vw;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
  
  select {
    padding: 0.6vw;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.1em;
    border: 0.15vw solid black;
    border-radius: 2vw;
    cursor: pointer;
  }

  select option {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    margin: auto 0;
  }
  
  #search-input {
    padding: 0.6vw;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    border: 0.15vw solid black;
  }
  
  .search-button {
    padding: 0.6vw;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: black;
    border: 0.15vw solid black;
    border-left: none;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #b9b9b9;
  }
  

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
  }
  
  .page-number {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.1em;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    margin: 0 1vw;
    text-decoration: none;
  }
  
  .page-number.active {
    font-weight: bold;
  }
  
  .prev-arrow, .next-arrow {
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .prev-arrow img, .next-arrow img {
    width: 100%;
    height: 100%;
  }
  
  .prev-arrow.disabled {
    display: none;
  }
  
  .product:hover {
    transform: scale(1.01);
}