/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

nav ul li {
    margin: 0 1rem;
    font-family: 'Ubuntu', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Ubuntu', sans-serif;
}

.dropdown:hover ul {
    display: block;
}

.search form {
    display: flex;
}

.search input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Ubuntu', sans-serif;
}

.search button {
    padding: 0.25rem;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;

}

/* Main Styles */
main {
    margin: 2rem auto;
    max-width: 1200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.grid-item h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
}

.price {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.star-rating {
    font-size: 24px;
    color: #000000;
}

.star {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}


/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination ul li {
    margin: 0 0.5rem;
}

.pagination ul li a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.pagination ul li a:hover {
    background-color: #000;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.prev-page,
.next-page {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.prev-page:hover,
.next-page:hover {
    background-color: #f5f5f5;
}

.prev-page {
    margin-right: 10px;
}

.next-page {
    margin-left: 10px;
}

.next-page img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}